<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GiaoDien.Properties.Settings.QLCHBANGIAY_MoiConnectionString"
            connectionString="Data Source=DESKTOP-H0OTQE5\SQLEXPRESS;Initial Catalog=QLCHBANGIAY;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>